@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome to BankTransactions Web App</h1>
</div>
*@

<style>
    .header {
        background-color: #457;
        color: #fff;
        padding: 20px;
        border-radius: 15px;
        font-family: cursive;
    }

    .header1 {
        background-color: yellowgreen;
        color: #fff;
        padding: 15px;
        border-radius: 25px;
        font-family: cursive;
    }

    .body1 {
        background-image: url("/Images/imgg.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        font-family: Arial, sans-serif;
        height: 100vh;
        margin-bottom: 20px;
    }

    .G1 {
        transform: translate(20px, 85px) rotate(-30deg);
    }

    .e1 {
        transform: translate(13px, 60px) rotate(-25deg);
    }

    .e2 {
        transform: translate(6px, 40px) rotate(-20deg);
    }

    .k1 {
        transform: translate(3px, 23px) rotate(-15deg);
    }

    .s1 {
        transform: translate(2px, 14px) rotate(-10deg);
    }

    .f {
        transform: translate(1px, 8px) rotate(-5deg);
    }

    .o {
        transform: translate(0px, 5px) rotate(0deg);
    }

    .r {
        transform: translate(-1px, 8px) rotate(5deg);
    }

    .G2 {
        transform: translate(-2px, 14px) rotate(10deg);
    }

    .e3 {
        transform: translate(-3px, 25px) rotate(15deg);
    }

    .e4 {
        transform: translate(-6px, 40px) rotate(20deg);
    }

    .k2 {
        transform: translate(-14px, 60px) rotate(25deg);
    }

    .s2 {
        transform: translate(-20px, 80px) rotate(30deg);
    }
    .s3{
        transform: translate(-26px, 90px) rotate(30deg);
    }

    .s4 {
        transform: translate(-40px, 115px) rotate(30deg);
    }


    span {
        display: inline-block;
    }

</style>

<div class="container">
    <div class="body1">
        <div style="font-family:cursive;text-align: center;font-size: 55px; color: white;" class="text-center text-white">
            <span style="transform: translate(-20px, 72px) rotate(-2deg);">W</span>
            <span style="transform: translate(-20px, 72px) rotate(-2deg);">e</span>
            <span style="transform: translate(-20px, 72px) rotate(-2deg);">l</span>
            <span style="transform: translate(-20px, 72px) rotate(-2deg);">c</span>
            <span style="transform: translate(-20px, 72px) rotate(-2deg);">o</span>
            <span style="transform: translate(-20px, 72px) rotate(-2deg);">m</span>
            <span style="transform: translate(-20px, 72px) rotate(-2deg);">e</span>
            <span style="transform: translate(-20px, 72px) rotate(-2deg);"> </span>
            <span style="transform: translate(-20px, 72px) rotate(-2deg);">t</span>
            <span style="transform: translate(-20px, 72px) rotate(-2deg);">o</span>
        </div>
        <div style="font-family:cursive ;text-align: center; padding-top: 50px; font-size: 55px; color: white;">
            <span class="G1">B</span>
            <span class="e1">a</span>
            <span class="e2">n</span>
            <span class="k1">k</span>
            <span class="s1">T</span>
            <span class="f">r</span>
            <span class="o">a</span>
            <span class="r">n</span>
            <span class="G2">s</span>
            <span class="e3">a</span>
            <span class="e4">c</span>
            <span class="k2">t</span>
            <span class="s2">i</span>
            <span class="s3">o</span>
            <span class="s4">n</span>
        </div>
        <div style="font-family:cursive ;text-align: center; padding-top: 100px; font-size: 55px; color: white;">
            <span style="transform: translate(-3px, 25px) rotate(15deg)">A</span>
            <span style="transform:translate(-9px, 40px) rotate(16deg)">p</span>
            <span style="transform:translate(-15px, 55px) rotate(17deg)">p</span>
            <span style="transform:translate(-19px, 64px) rotate(20deg)">l</span>
            <span style="transform: translate(-20px, 72px) rotate(-2deg);">i</span>
            <span style="transform: translate(-21px, 71px) rotate(-9deg);">c</span>
            <span style="transform: translate(-22px, 63px) rotate(-9deg);">a</span>
            <span style="transform: translate(-23px, 57px) rotate(-10deg);">t</span>
            <span style="transform: translate(-24px, 50px) rotate(-11deg);">i</span>
            <span style="transform: translate(-25px, 44px) rotate(-12deg);">o</span>
            <span style="transform: translate(-26px, 30px) rotate(-13deg);">n</span>
        </div>
    </div>
</div>

